<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN OR SINGUP</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/register" method="get">
    <div class="login-container">
       <a href="/register"> LOG IN </a>
        <a href="/register/singup"> SINGUP</a>
    </div>
    </form>
    
    
</body>
</html>